.section {
  padding: 10px;
}
.subtitle {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  width: 350px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.bottomInfo {
  padding: 10px 0;
  border-top: 1px solid gray;
  display: flex;
  flex-direction: column;
}
.totalWord {
  font-family: 'Raleway';
  margin: 12px 0 0;
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
.totalNum {
  font-family: 'Raleway';
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
}
.totalPrice {
  margin: 12px 0 0;
}
.orderBtn {
  all: unset;
  width: 279px;
  height: 43px;
  color: white;
  background-color: #5ECE7B;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
  margin: 12px 0 0;
}